body{
background-color:ivory
}
h1{
    font-family:"Arial", sans-serif;
    color:rgb(38 red, 1 green, 255 blue);
    background-color:cornsilk;
}
#sketchName { color:red;

 } #showSketch { float:right;
 }
 canvas{
    border:5px solid white;
    border-radius:20px;
    margin-top:50px;
    box-shadon:5px 5px 5px grey;
    box-shadon:1px 1px 38px #ffffff
    animation-name: example;
     animation-duration: 4s;
      animation-iteration-count: infinite;
 }
 @keyframes example { from {box-shadow: 1px 1px 38px grey;
} to {box-shadow: 1px 1px 38px white;
} } p, span { padding-top:10px;
     font-family: 'Arial', sans-serif;
      font-size:25px;
     } #score { font-size:35px;
         margin-left: 20px;
         } #time { font-size:35px;
             float: right;
              margin-right: 20px;
             }@keyframes example { from {box-shadow: 1px 1px 38px grey;
            } to {box-shadow: 1px 1px 38px white;
            } } p, span { padding-top:10px;
                 font-family: 'Arial', sans-serif; font-size:25px;
                 } #score { font-size:35px;
                     margin-left: 20px;
                     } #time { font-size:35px;
                         float: right; margin-right: 20px;
                         }